<div class="min-h-screen bg-base-200">

 
  <div class="navbar bg-base-300 px-4 shadow-md top-0 sticky z-50">
    <div class="flex-1">
      <a routerLink="/" class="text-xl font-bold cursor-pointer">
         MovieHub
      </a>
    </div>

    <div class="flex-none space-x-4">
      <a routerLink="/" routerLinkActive="text-primary font-semibold underline" class="hover:text-primary">Home</a>

      <a routerLink="/search" routerLinkActive="text-primary font-semibold underline"
        class="hover:text-primary">Search</a>

      <a routerLink="/history" routerLinkActive="text-primary font-semibold underline"
        class="hover:text-primary">History</a>
    </div>
  </div>

  <div class="p-6">
    <router-outlet></router-outlet>
  </div>

</div>
